.tooltip-arrow {
  display: none !important;
}
.sidebar *,
.navbar * {
  user-select: none !important;
}
img {
  pointer-events: none !important;
  user-select: none !important;
}
.active {
  font-weight: bolder;
}
/*
   * Sidebar
   */
.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
    right: 0;
    */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
.sidebar .nav-link {
  font-size: 16px !important;
  display: flex;
  align-items: center;
  color: var(--color-secondary-1);
}
.sidebar .nav-link i {
  margin-right: 5px;
}
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.sidebar .nav-item strong{
  color: var(--color-secondary-3);
}
.sidebar .nav-link {
  font-weight: 500;
  color: var(--color-secondary-1);
}

.sidebar .nav-link.active {
  color: var(--color-link);
  font-weight: bold;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
   * Navbar
   */
.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.alert .btn-close:active,
.alert .btn-close:focus,
.alert .btn-close.active {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#myTable_wrapper {
  margin-top: 20px !important;
}

@media (max-width: 768px) {
  #myTable_filter input {
    margin-top: 20px !important;
    max-width: 300px;
  }
}
.table-responsive::-webkit-scrollbar {
  display: block !important;
  margin-top: 30px !important;
  height: 6px !important;
}
.table-responsive::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}
.table-responsive::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
.home-card {
  border-width: 0 0 0 5px;
}
.navbar-toggler-icon {
  display: none !important;
}
button:disabled,
button[disabled] {
  pointer-events: auto !important;
  cursor: no-drop !important;
}

#logout:active {
  background: #dc3545 !important;
  color: white !important;
}
.dropdownHide::after {
  display: none !important;
}

@media (min-width: 768px) {
  .sidebar {
    top: 0 !important;
  }
  #Menu {
    position: fixed !important;
    top: 80px !important;
    z-index: 50000000 !important;
    transform: translate3d(110px, 30px, 10px) !important;
  }
}

#offline-message {
  display: none;
}

[offline="true"] #offline-message {
  display: block;
}

.action-btn.btn{
  padding: 5px 8px;
  border-radius: 30%;
  text-align: center;
}


/* form */

form label{
  font-weight: bold;
}
form{
  padding: 10px 25px;
  margin: 25px 0;
}

input, select{
	background-color: var(--color-white-3) !important;
    border-radius: 50px !important;
    color: var(--color-primary-1) !important;
    font-weight: bold !important;
}
label{
	color: #293562 !important;
}
input::placeholder {
  color: var(--color-primary-1) !important;
  opacity: .4 !important;

}










